# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Node
node_modules/

# Build artifacts
dist/
build/

# Other
.DS_Store
*.log
PRD.docx
PRD.txt


# Unit test files
frontend/src/App.test.js
backend/test_main.py
